/* Homepage */

#homePage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 90vh;

}

#homePage .content {
    max-width: 800px;
    text-align: left;
    margin-left: 25px;
    color: #fff;
}


#homePage p {
    font-size: 14pt;
    line-height: 1.5;
}

.image img {
    width: 550px;
    height: auto;
    margin-right: 50px;
}

@media only screen and (max-width: 650px) {
    #homePage {
        flex-direction: column;


    }

    #homePage img {
        display: none;
    }

    #homePage p {
        font-size: 10pt;
        line-height: 1.5;
        overflow-y: scroll;
    }

    #homePage .content {
        max-width: 100vh;
        overflow-y: auto;
        max-height: calc(75vh - 257px);
        margin-bottom: 10px;
        margin-right: 25px;
        text-align: center;

    }
}

@media only screen and (max-width: 300px) {
    #homePage {
        flex-direction: column;
        height: auto;
    }

    #homePage img {
        display: none;
    }

    #homePage .content {
        max-width: 100%;
        margin: 0;
        text-align: center;
    }

    #homePage p {
        font-size: 14pt;
        line-height: 1.5;
    }
}

@media only screen and (max-width: 768px) {
    #homePage {
        flex-direction: column;
        height: auto;
    }

    #homePage img {
        display: none;
    }

    #homePage .content {
        max-width: 100%;
        margin: 0;
        text-align: center;
    }

    #homePage p {
        font-size: 14pt;
        line-height: 1.5;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #homePage {
        flex-direction: row;
        height: 100vh;
    }

    #homePage img {
        width: 50%;
        height: auto;
        margin-right: 50px;
        display: block;
    }

    #homePage .content {
        max-width: 50%;
        margin-left: 25px;
        text-align: left;
    }

    #homePage p {
        font-size: 14pt;
        line-height: 1.5;
    }
}

@media only screen and (min-width: 1025px) {
    #homePage {
        flex-direction: row;
        height: 100vh;
    }

    #homePage img {
        width: 550px;
        height: auto;
        margin-right: 50px;
        display: block;
    }

    #homePage .content {
        max-width: 800px;
        margin-left: 25px;
        text-align: left;
    }

    #homePage p {
        font-size: 14pt;
        line-height: 1.5;
    }
}